# Begin Project
# Begin SubItem "MS01  Resources"
# Begin Group "Drum"
#PROP Default_Filter=
USEPARAM=FALSE
PARAM=
EXPORT=3
# Begin Source File
SOURCE=DRUM\BD1.ADP
USEPARAM=FALSE
PARAM=
ID=RES_BD1_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\CBH.ADP
USEPARAM=FALSE
PARAM=
ID=RES_CBH_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\CBL.ADP
USEPARAM=FALSE
PARAM=
ID=RES_CBL_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\CC.ADP
USEPARAM=FALSE
PARAM=
ID=RES_CC_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\CHT1.ADP
USEPARAM=FALSE
PARAM=
ID=RES_CHT1_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\CYM1.ADP
USEPARAM=FALSE
PARAM=
ID=RES_CYM1_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\HAP1.ADP
USEPARAM=FALSE
PARAM=
ID=RES_HAP1_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\HB.ADP
USEPARAM=FALSE
PARAM=
ID=RES_HB_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\HBQ.ADP
USEPARAM=FALSE
PARAM=
ID=RES_HBQ_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\HFT.ADP
USEPARAM=FALSE
PARAM=
ID=RES_HFT_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\HT1.ADP
USEPARAM=FALSE
PARAM=
ID=RES_HT1_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\HTM.ADP
USEPARAM=FALSE
PARAM=
ID=RES_HTM_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\JB1.ADP
USEPARAM=FALSE
PARAM=
ID=RES_JB1_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\LB.ADP
USEPARAM=FALSE
PARAM=
ID=RES_LB_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\LBQ.ADP
USEPARAM=FALSE
PARAM=
ID=RES_LBQ_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\LFT.ADP
USEPARAM=FALSE
PARAM=
ID=RES_LFT_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\LT.ADP
USEPARAM=FALSE
PARAM=
ID=RES_LT_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\OHT1.ADP
USEPARAM=FALSE
PARAM=
ID=RES_OHT1_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\PHT1.ADP
USEPARAM=FALSE
PARAM=
ID=RES_PHT1_ADP
EXPORT=3
# End Source File
# Begin Source File
SOURCE=DRUM\SD1.ADP
USEPARAM=FALSE
PARAM=
ID=RES_SD1_ADP
EXPORT=3
# End Source File
# End Group
# Begin Group "Song"
#PROP Default_Filter=
USEPARAM=FALSE
PARAM=
EXPORT=3
# Begin Source File
SOURCE=SONG\1231.BIN
USEPARAM=FALSE
PARAM=
ID=RES_1231_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\ALA1.BIN
USEPARAM=FALSE
PARAM=
ID=RES_ALA1_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\ALAINS.BIN
USEPARAM=FALSE
PARAM=
ID=RES_ALAINS_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\DECK1.BIN
USEPARAM=FALSE
PARAM=
ID=RES_DECK1_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\PP1.BIN
USEPARAM=FALSE
PARAM=
ID=RES_PP1_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\S31.BIN
USEPARAM=FALSE
PARAM=
ID=RES_S31_BIN
EXPORT=3
# End Source File
# Begin Source File
SOURCE=SONG\TW1.BIN
USEPARAM=FALSE
PARAM=
ID=RES_TW1_BIN
EXPORT=3
# End Source File
# End Group
# End SubItem
# End Project
